section.privacy-policy {
    padding: 2rem 0;
    background: $section-gray;
    a {
        color: #000;
        font-weight: bold;
        font-size: 2rem;
    }
}
footer {
    background: $darker-blue;
    padding: 6rem 0;
    p {
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 300;
        margin: 0;
        strong {font-weight: bold}
        a {
            color: rgba(#ffffff, .85);
            &:hover, &:focus {
                color: rgba(#ffffff, .85);
            }
        }
    }
    .margin-top {
        margin-top: 2.25rem;
    }
    img {
        height: 100%;
        width: auto;
        &.map {
            width: 100%;
            height: auto;
        }
    }
    .map {
        height: 48rem;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
}