header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 7.2rem;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 12rem;
    background: white;
    box-shadow: 0 4px 12px rgba(#000, .23);
    @include mobile() {
        height: 56px;
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }

    &.scrolled .logo {
        transform: translateY(0);
    }

    .logo {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 0;
        //transform: translateY(-7.2rem);
        transition: .3s ease-in-out;

        a {
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    nav {
        height: 7.2rem;
        z-index: 99999;
        @include mobile() {
            display: none;
            position: fixed;
            top: 5.6rem;
            left: 0;
            width: 100%;
            height: auto;
        }

        > ul {
            height: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            @include mobile() {
                display: flex;
                flex-direction: column;
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 2rem;
                @include mobile() {
                    padding: 1.75rem 0;
                    background: white;
                }

                &.menu-item-has-children {
                    flex-direction: column;
                    position: relative;
                    @include tablet-and-greater() {
                        &:hover {
                            > a {
                                font-weight: 500;
                                text-decoration: none;
                            }

                            > ul {
                                display: block;

                                a {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }

                    > ul {
                        display: none;
                        //display: block;
                        flex-direction: column;
                        position: absolute;
                        background: white;
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        top: 50px;
                        @include mobile {
                            position: static;
                            text-align: center;
                        }

                        li {
                            display: block;
                            padding: 10px 25px;

                            a {
                                display: block;
                                font-weight: 500;
                            }
                        }
                    }
                }

                a {
                    color: $gray;
                    font-size: 2.2rem;
                    font-weight: 300;

                    &:hover, &:focus {
                        color: $gray;
                    }
                }
            }
        }

        &.collapsed + .hamburger {
            .bar {
                width: 100%;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .hamburger {
        @include tablet-and-greater() {
            display: none;
        }
        height: 23px;
        width: 23px;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        z-index: 99999;
        margin-left: 2rem;

        .bar {
            background: $darker-blue;
            height: 2px;
            width: 100%;
            display: block;
            transition: .4s ease-in-out;

            &:nth-child(1) {
                transform-origin: left top;
            }

            &:nth-child(2) {
                transform-origin: center;
            }

            &:nth-child(3) {
                transform-origin: left bottom;
            }

        }
    }

    .right-col {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .facebook {
        svg {
            max-width: 20px;
            height: auto;
        }
    }
}


body.logged-in.admin-bar {
    @media screen and (max-width: 782px) {
        padding-top: 46px;
    }

    header {
        top: 32px;
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    #wpadminbar.mobile {
        position: fixed;
    }
}