main.front-page {
    margin-top: 0;

    a {
        text-decoration: none;
    }

    section {
        padding: 6rem 0;
        transition: .35s ease-in-out;

        h2 {
            font-family: 'PT Serif', serif;
            color: $almostblack;
            font-size: 5.2rem;
            font-weight: normal
        }

        &.img-section {
            height: 56rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h2 {
                color: #fff;
            }
        }

        .nav-tabs {
            border: none;
            margin: 2rem 0;

            .nav-item {
            }

            .nav-link {
                border-radius: 0;
                border: none;
                color: $darker-blue;
                font-size: 2.2rem;
                padding-right: 0;
                margin: 1rem 5rem;
                background: transparent;

                &:first-child {
                    margin-left: 0;
                    padding-left: 0;
                }


                &.active, &:hover {
                    font-weight: bold;
                    background: transparent;
                }
                &:empty {
                    margin-top: 20px;
                    margin-bottom: 0;
                }
            }
        }

        .tab-content {
            .tab-pane.with-read-more {

                .content-wrapper {
                    height: calc(1.7*1.9rem*4);
                    overflow: hidden;
                }
                p {
                    display: none;

                    &:first-child {
                        display: block
                    }

                    .end-of-content {
                        display: none;
                    }
                }

                &.show-more-content {
                    p {
                        display: block
                    }

                    .end-of-content {
                        display: inline;
                    }
                }
            }

            p, ol, ul {
                font-size: 1.9rem;
                line-height: 1.7;
                font-weight: 300;
                margin: 0 0 1rem 0;
                &:only-child, &:last-child {
                    margin-bottom: 0;
                }

                strong {
                    font-weight: bold;
                }

                em {
                    color: $darker-blue;
                    font-style: normal;
                }
            }

            a.read-more {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                text-align: right;
                margin-top: 4rem;
                color: #000;
                font-weight: bold;
                font-size: 2.1rem;
                text-decoration: none;

                &:hover svg {
                    transform: translateX(.625rem);
                }

                svg {
                    margin-left: 1rem;
                    transition: .35s ease-in-out;
                }
            }
        }
    }

    section.header {
        position: relative;
        height: calc(100vh - 15rem);
        padding: 7.2rem 0 3rem;
        display: flex;
        align-items: center;

        h2.pre-title {
            font-family: 'Work Sans', sans-serif;
            color: white;
            font-size: 2.4rem;
            font-weight: 300;
            margin: 0;

            & + h1 {
                margin: 0;
                font-size: 4.8rem;
                font-weight: bold;
            }
        }

        p {
            margin: 0;
            color: white;
            font-size: 3.6rem;

            & + p {
                margin-top: 3rem;
            }

            @include mobile() {
                margin-top: 3rem;
            }
        }

        .kidconnect {
            position: absolute;
            bottom: 0;
            right: 13rem;
            background: $red;
            border-radius: 15px 15px 0 0;
            font-size: 1.8rem;
            padding: 1rem 2rem;
            color: #fff;
            text-decoration: none;
        }
    }

    section.calendar {
        table {
            width: 100%;
            color: #fff;

            &.mobile {
                display: none;
            }

            @include mobile() {
                display: none;
                &.mobile {
                    display: block;
                    margin-bottom: 2rem;

                    tbody {
                        display: block;
                    }

                    td, th, tr {
                        display: block;
                        width: 100%;
                    }

                    th:first-child, th:last-child {
                        border: none;
                        border-radius: 15px 15px 0 0;
                    }

                    td.content, td.date {
                        border: none;
                        border-radius: 0 0 15px 15px;
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                    }
                }
            }

            th {
                background: $red;
                font-size: 3.6rem;
                font-weight: normal;
                padding: 1rem 2rem;
                text-align: center;

                &:first-child {
                    border-radius: 15px 0 0 0;
                    padding: 0;
                }

                &:last-child {
                    border-left: 1rem solid white;
                    border-radius: 0 15px 0 0;
                }

                a {
                    display: block;
                    color: white;
                    width: 100%;
                    height: 100%;
                    padding: 1rem 2rem;
                    border-radius: 15px 0 0 0;
                    transition: .3s ease-in-out;
                    @include mobile() {
                        border-radius: 15px 15px 0 0;
                    }
                    &:hover {
                        background: darken($red, 5%)
                    }
                }
            }

            td {
                background: $table-bg;

                &.date {
                    font-size: 10rem;
                    font-weight: 600;
                    text-align: center;
                    line-height: 1;
                    padding: 2rem 6rem;
                }

                &.content {
                    border-left: 1rem solid white;
                    padding: 3rem 0;

                    p {
                        margin: 0 0 1rem;
                        font-size: 2.4rem;
                        padding: 0 3rem;
                        //letter-spacing: 1px;
                    }
                }
            }
        }
    }

    section.additional-section {
        //background: $section-gray;
    }

    section.recruitment {
        background: $section-gray;
    }

    section.events {
        background-image: url('../images/events-image.jpg');
    }

    section.program {
        background: $section-gray;
        position: relative;

        h2 {
            color: #000;
            // font-size: 2.8rem;
            font-weight: normal
        }

        .tab-pane {
            &.active {
                display: none;
            }
        }

        .program-images {
            .swiper-slide {
                overflow: visible;

                svg, img {
                    transform: scale(1.3);
                    height: 35rem;
                }

                p {
                    font-size: 2rem;
                    color: $gray;
                    z-index: 9;
                    position: relative;
                    width: 50%;
                    text-align: center;
                }
            }
        }

        .swiper-navigation {
            position: absolute;
            bottom: 24rem;
            width: 96%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;

            .swiper-button-prev, .swiper-button-next {
                background: none;
                outline: none;
                height: auto;
                z-index: 30;
                text-align: center;

            }
        }
    }

    section.projects {
        background-image: url('../images/homepage-projekty.jpg');
    }

    section.parent-counsel {
        background: $section-gray;
    }

}
    