main.lista-projektow {
    padding: 6rem 0;
    .title {
        color: $gray;
        font-family: 'PT Serif', serif;
        font-size: 4.6rem;
        margin-bottom: 3rem;
    }
    .project {
        .img-container {overflow: hidden}
        a {
            color: $almostblack;
            text-decoration: none;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 1s ease-in-out;
            }
            h3 {
                font-weight: bold;
                font-size: 2.4rem;
                margin: 2rem 0;
            }
            p {
                font-size: 1.7rem;
                margin-bottom: 6rem;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    .pages {
		>div {
			display: flex;
			// justify-content: space-between;
			@include mobile() {
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			a {
				text-decoration: none;
				display: flex;
                align-items: center;
                >div {
                    display: flex;
                    align-items: center;
                    img {
                        height: 13px;
                    }
                }
            }
            &.prev-page {
                img {
                    transform: rotate(180deg);
                }

            }
            &.next-page:only-child {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            @include mobile() {
                &+div {
                    margin-top: 4rem;
                    align-self: center;
                }
            }
            span {
                display: block;
                font-size: 2rem;
                color: $almostblack;
                margin: 0 1rem;
                // font-family: 'PT Serif', serif;
                img {
                }
            }
        }
        &+.go-back {		
            a {
                font-size: 2rem;
                text-decoration: none;
                color: $almostblack;
                // font-weight: bold;
                display: flex;
                width: calc(50% - 15px);
                float: right;
            }
            img {
                height: 2rem;
                margin-left: 1rem;
            }
        }
    }
}