@charset "UTF-8";
@import 'variables';
@import 'header';
@import 'footer';
@import 'homepage';
@import 'subpage';
@import 'lista-projektow';

html {
    font-size: 62.5%;
}

@media (max-width: $laptop-max) and (min-width: $laptop-min) {
    html {
        font-size: 55%;
    }
}

@media (max-width: $tablet-max) and (min-width: $tablet-min) {
    html {
        font-size: 50%;
    }
}

@media (max-width: $mobile-max) {
    html {
        font-size: 45%;
    }
}


body {
    background-color: #fff;
    color: $almostblack;
    font-family: 'Work Sans', sans-serif;
}

.serif-font {
    font-family: 'PT Serif', serif;
}

span.blue {
    color: $blue;
}

span.orange {
    color: $orange;
}

main {
    margin-top: 7.2rem;
    @include mobile() {
        margin-top: 5.6rem;
    }

}

img {
    &.alignleft, &.alignright {
        margin-bottom: 10px;
    }
    &.alignleft {
        float: left;
        margin-right: 15px;
    }
    &.alignright {
        float: right;
        margin-left: 15px;
    }
}

.container.page {
    padding-top: 64px;
    font-size: 200%;
}