.subpage {
    img {
        max-width: 100%;
        height: auto;
        margin: 24px 0;
        width: auto;

        &.alignleft {
            float: left;
        }

        &.alignright {
            float: right;
        }

        &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .bottom-padding {
        padding-bottom: 5rem;
    }

    .top {
        position: relative;
        padding-top: 5rem;
        padding-bottom: 5rem;

        //.top-image {
        //    height: 560px;
        //    background-size: cover;
        //    background-position: center;
        //    @include laptop() {
        //        height: 400px;
        //    }
        //    @include mobile() {
        //        background-size: auto;
        //        background-repeat: no-repeat;
        //        background-position: top;
        //        margin-bottom: 4rem;
        //    }
        //}

        .swiper-navigation {
            position: absolute;
            top: calc(5rem + 10px);
            left: 50%;
            //height: 100%;
            transform: translateX(-50%);
            z-index: 3;
            width: calc(100% - 12rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mobile() {
                display: none;
            }

            .swiper-button-prev, .swiper-button-next {
                position: static;
                background: none;
                outline: none;
                width: auto;
                margin: 0;
                height: auto;
                text-align: center;

                svg {
                    polyline {
                        stroke: $gray;
                    }
                }
            }

            .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
                opacity: 0;
            }
        }

        h1 {
            font-family: 'PT Serif', serif;
            position: static;
            color: $gray;
            font-weight: bold;
            font-size: 6rem;
            z-index: 2;
            margin-bottom: 4rem;
        }

        small {
            color: #fff;
            font-weight: 600;
            letter-spacing: 2.6px;
            font-size: 1.6rem;
            position: absolute;
            bottom: 3rem;
            left: 7%;
        }
    }

    .modules {
        h2 {
            font-size: 4.8rem;
            font-weight: bold;
        }

        h3 {
            font-size: 3.6rem;
            font-weight: bold;

        }

        p {
            font-size: 1.6rem;
        }

        .two-columns {
            > div {
                padding-right: 30px;
            }
        }
    }

    .pages {
        > div {
            display: flex;
            justify-content: space-between;
            @include mobile() {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
            }

            > div {
                &.next-page:only-child {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }

                @include mobile() {
                    & + div {
                        margin-top: 4rem;
                        align-self: center;
                    }
                }

                span {
                    display: block;
                    font-size: 3.2rem;
                    color: $gray;
                    font-family: 'PT Serif', serif;
                }

                a {
                    .arrow {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: .35s ease-in-out;
                        display: none;

                        svg {
                            height: 17px;
                            width: 17px;
                            transition: .35s ease-in-out;

                            line, polyline {
                                stroke: $gray;
                                stroke-width: 2.5px;
                            }
                        }
                    }

                    &:hover {
                        > .arrow {
                            &.right {
                                svg {
                                    transform: translateX(15%);
                                }
                            }

                            &.left {
                                svg {
                                    transform: translateX(15%);
                                }
                            }
                        }
                    }
                }

                &.prev-page .left {
                    transform: rotate(180deg);
                }
            }
        }
    }

}