/* RESPONSIVNESS */

$laptop-max: 1600px;
$laptop-min: 1025px;
$tablet-max: 1024px;
$tablet-min: 768px;
$mobile-max: 767px;

@mixin mobile{
    @media (max-width: $mobile-max) {
        @content;
    }
}

@mixin tablet{
    @media (max-width: $tablet-max) {
        @content;
    }
}

@mixin tablet-only{
    @media (max-width: $tablet-max) and (min-width: $tablet-min) {
        @content;
    }
}

@mixin tablet-and-greater{
    @media (min-width: $tablet-min) {
        @content;
    }
}

@mixin laptop{
    @media (max-width: $laptop-max){
        @content;
    }
}

@mixin laptop-only{
    @media (max-width: $laptop-max) and (min-width: $laptop-min){
        @content;
    }
}

@mixin laptop-and-greater{
    @media (min-width: $laptop-min) {
        @content;
    }
}

/* COLORS */

$almostblack: #1d1d1b;
$section-gray: #edeadc;
$gray: #878787;
$blue: #36a9e1;
$darker-blue: #1d71b8;
$orange: #f9b233;
$red: #e30613;
$table-bg: #becfc5;